<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tulis Note
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!---->
  <ion-card>
    <ion-item><ion-input placeholder="Judul" [(ngModel)]="Judul"></ion-input></ion-item>
    <ion-item><ion-input placeholder="Tanggal" [(ngModel)]="Tanggal"></ion-input></ion-item>
    <ion-item><ion-input placeholder="Isi Note"[(ngModel)]="Isi"></ion-input></ion-item>
    <ion-item><ion-input placeholder="Nilai" [(ngModel)]="Nilai"></ion-input></ion-item>
    <ion-button (click)="TambahFoto()">Tambah Foto</ion-button>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="simpanNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
